.lead__subtitle {
    margin: 0;
    padding-bottom: 63px;
    width: calc(100% - 344px);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        width: calc(100% - 288px);
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        width: calc(100% - 128px);
        padding-bottom: 57px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: calc(100% - 32px);
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}