.cover__overlay {
    text-decoration: none;
    padding: 245px 0;
    background: rgb(42, 44, 47, .3);
    display: block;
    transition: 1s;
}

.cover__overlay:hover {
    background: rgb(42, 44, 47, .8);
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        padding: 195px 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        padding: 115px 0;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        padding: 33px 0;
    }
}